:root {
    --off-pink: #e2d8d7;  
    --forest: #33422F;
    --dark: #011a00;
    --soft-green: #869069;
    --sand-yellow: #D3AB5E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color:var(--dark);
    margin:0;
}
/*css header styling*/
header {
    padding:20px 30px;
    background-color: var(--soft-green);
    position: sticky;
    top:0;
    position: -webkit-sticky;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
    z-index: 9999;
    border:solid 4px var(--forest);
}

header h1,
footer h3 {
    font-weight: bold;
    text-shadow: 0 0 10px rgba(226, 216, 215, 0.5);
    font-size: 38px;
    color:var(--dark);
}

/* Navigation links styling*/
header a {
    margin: 20px 15px;
    text-decoration: none;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    background-color: var(--sand-yellow);
    padding: 15px;
    border-radius: 15px;
}

header nav ul li a {
    
    padding: 15px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    color:var(--dark);
}

header nav ul li a:hover{
    background:rgb(226, 216, 215, 0.5);
    color:var(--forest);
    border-radius: 15px;
}

/*about me and contactsection styling*/
.about-me,
.contact {
    background-image: url('../images/aboutme.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.maks {
    display:flex;
    align-items: center;
    margin: 8.5%;
    width:90%;
    height:50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.bio,
.contact-info{
    background-color:var(--off-pink);
    padding: 20px;
    margin: 3.5%; 
    color: var(--dark);
    border: solid 3px var(--soft-green);
    width: 35%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex-wrap: wrap;
}

/*projects section*/
.projects {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--soft-green);
    margin-top: 0;
    border:solid 4px var(--forest);
}

.main-proj{
    background-image: url('../images/pantry-remover.png');  
    background-size: cover;
    background-position: center;
    padding: 50px;
    transition: transform .2s;
    width:80%;
    height:350px;
    margin: 5px auto;
    border:solid 4px var(--forest);
    border-radius: 15px;
    opacity: 0.7;
}

.mini {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 5px 20px;
    border:solid 4px var(--forest);
    border-radius: 15px;
    opacity: 0.5;
    flex-wrap: wrap;
}

.mini-h{
    background-image: url('../images/horiseon.jpg');  
    background-size: cover;
}
.mini-b{
    background-image: url('../images/box.jpg');  
    background-size: cover;
    background-position: center;
}

.mini-t{
    background-image: url('../images/toronto.jpg');
    background-size: cover;
    background-position: center;
}
.mini-r{
    background-image: url('../images/runbuddy-thumb.jpg');
    background-size: cover;
    background-position: center;
}

.mini:hover,
.main-proj:hover{
    transform: scale(1.1);
    opacity: 1;
}

.mini-proj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projects h2{
    color: var(--off-pink);
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 10px rgba(51, 66, 47, 0.5);
}
h4{
    color: var(--dark);
    text-align: center;
    opacity: 1;
    font-size: 30px;
}

/*contact me section style only*/
.contact-info h3{
    font-size: 36px;
}
.contact-info{
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

footer{
    width: 100%;
    bottom: 0;
    padding:20px 30px;
    background-color: var(--soft-green);
    display: flex;
    justify-content: center;
    border:solid 4px var(--forest);
}

ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

li{
    font-size: large;
    list-style: none;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 980px) {

    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        height: auto;
    }

    header nav ul {
        
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer{
        text-align: center;
        width: 100%;
    }

    .image,
    .bio{
        width: 100%;
    }

    .bio{
        text-align: center;
    }

    
   .mini-proj{
       width: 100%;
       align-items: center;
   }
    
}