:root {
    --off-pink: #e2d8d7;
    --off-white: #EEEEF0;
    --forest: #33422F;
    --dark: #011a00;
    --soft-green: #869069;
    --sand-yellow: #D3AB5E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    Background-color: var(--off-white);
    color:var(--dark);
}
/*css header styling*/
header {
    padding:20px 30px;
    background-color: var(--soft-green);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 38px;
    color:var(--dark);
}
header a {
    margin: 20px 15px;
    text-decoration: none;
}

header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    background-color: var(--sand-yellow);
    padding: 15px;
    border-radius: 15px;
}
header nav ul li{
    margin: 0;
}
header nav ul li a {
    
    padding: 15px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    color:var(--dark);
}
header nav ul li a:hover{
    background:var(--off-pink);
    color:var(--forest);
    border-radius: 15px;
}